* {
    padding: 0;
    margin: 0;
}

body {
    background-color: whitesmoke;
    background-image: url(https://c4.wallpaperflare.com/wallpaper/862/449/162/jack-reacher-star-wars-interstellar-movie-john-wick-wallpaper-preview.jpg);
}